#!/usr/bin/make -f

DEB_HOST_ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@

override_dh_install:
ifeq ($(DEB_HOST_ARCH),amd64)
	cp libecere.install.in64 libecere.install
	cp ecere-sdk.install.in64 ecere-sdk.install
endif

ifeq ($(DEB_HOST_ARCH),i386)
	cp libecere.install.in32 libecere.install
	cp ecere-sdk.install.in32 ecere-sdk.install
endif
	dh_install
